.imagereduce {
    display: block;
    margin: 0 auto 5rem auto;
    height: 500px;
    width: 500px;
    background-color: #f2f2f2;
}

h1, p, h2, h3{
    font-family:'Encode Sans Condensed',Sans-serif, Arial;
    
}

h1 { 
    color: #4B2E83;
    font-size: 2em;
    font-weight: bold;
}

h2 { 
    color: #4B2E83;
    font-size: 1.5em;
    font-weight: 200;
}

h3 { 
    color: black;
    font-size: 1em;
    font-weight: bold;
}
a {
    color: #4B2E83;
    font-size: 1em;
    font-weight: 500; 
}



p {
    font-size: large;
    font-weight: 300;

}

h2 {
    color: #4B2E83;
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    color: #4B2E83;
    font-size: 1.2em;
    font-weight: bold;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 80px;
    margin: 0;
    padding: 0;
}

.nav-links-styling {
    font-family: Helvetica;
    font-weight: lighter;
}

.logo {
    height: 70px;
    width: auto;
}



